.button {
	display:block;
	margin:auto;
	height: 75px;
	width: 150px;

	padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}

.block {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}